.modal-login{
    button[type=submit]{
        &:hover{
            color: $fifth-color;
        }
    }
    a:not(.btn){
        text-decoration: none;
        &:hover{
            color: $fourth-color;
        }
    }
    .or{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            right: 10px;
            background-color: #262626;
            height: 3px;
            top: 10px;
            width: 40%;
        }
        &:before{
            content: "";
            position: absolute;
            left: 10px;
            background-color: #262626;
            height: 3px;
            top: 10px;
            width: 40%;
        }
    }
    .social-login{
        a{
            font-weight: bold;
            border-radius: 20px;
            &.bg-white{
                &:hover{
                    color: $fifth-color !important;
                }
            }
        }
    }
    .divider{
        background-color: $third-color;
        height: 3px;
        width: 100%;
    }
    .sign-me{
        width: 100%;
        border-radius: 20px;
    }
}
.modal-register{
    button[type=submit]{
        &:hover{
            color: $fifth-color;
        }
    }
    a:not(.btn){
        text-decoration: none;
        &:hover{
            color: $fourth-color;
        }
    }
    .or{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            right: 10px;
            background-color: #262626;
            height: 3px;
            top: 10px;
            width: 40%;
        }
        &:before{
            content: "";
            position: absolute;
            left: 10px;
            background-color: #262626;
            height: 3px;
            top: 10px;
            width: 40%;
        }
    }
    .social-register{
        a{
            font-weight: bold;
            border-radius: 20px;
            &.bg-white{
                &:hover{
                    color: $fifth-color !important;
                }
            }
        }
    }
    .divider{
        background-color: $third-color;
        height: 3px;
        width: 100%;
    }
    .sign-up{
        width: 100%;
        border-radius: 20px;
    }
}
.register{
    .contain{
        .or{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                right: 10px;
                background-color: #262626;
                height: 3px;
                top: 10px;
                width: 40%;
            }
            &:before{
                content: "";
                position: absolute;
                left: 10px;
                background-color: #262626;
                height: 3px;
                top: 10px;
                width: 40%;
            }
        }
        .social-register{
            a{
                font-weight: bold;
                border-radius: 20px;
                &.bg-white{
                    &:hover{
                        color: $fifth-color !important;
                    }
                }
            }
        }
        input.form-control ,textarea.form-control{
            border-radius: 20px;
            background-color: $third-color;
            color: $fifth-color;
            border: 0;
            padding: 1rem;
            &::placeholder{
                color: $fourth-color;
            }
            &:focus{
                background-color: $third-color;
                color: $fifth-color;
                border: 0;
            }
        }
        .content{
            width: 30rem;
            height: 40rem;
            border-left: 2px solid $third-color;
            @include media-breakpoint-down(md){
                width: 100%;
                margin-bottom: 5rem;
            }
            .for-music{
                margin-top: 18rem;
                margin-left: 6rem;
                a{
                    border-bottom: 1px solid $fifth-color;
                }
            }
        }
        @include media-breakpoint-down(md){
            flex-direction: column !important;
        }
    }
    .divider{
        border-top: 1px solid white;
    }
}