.footer{
    font-size: .8em;
    color: $fourth-color;
    a{
        color: $fourth-color;
        text-decoration: none;
        &:hover{
            color: white;
        }
    }
}

.nav-footer-movile{
    .active{
        border-top: 2px solid $fifth-color;
        svg{
            path{
                fill: white;
            }
        }

    }
}

