.c-primary{
    color: $primary-color;
}
.bc-primary{
    background-color: $primary-color;
}

.c-secundary{
    color: $secundary-color;
}
.bc-secundary{
    background-color: $secundary-color;
}

.c-tertiary{
    color: $tertiary-color;
}
.bc-tertiary{
    background-color: $tertiary-color;
}
