.main-nav{
    background-color: $primary-color;
    padding: 10px 0;
    .cil-hamburger-menu{
        color: $fourth-color;
        font-size: 30px;
        &:hover{
            color: white;
        }
        &:active{
            color: white;
        }
    }
    .c-sidebar-brand{
        background-color: transparent;
    }
    .logo{
        width: 150px;
    }
    .c-sidebar-nav{
        li{
            color: white;
        }
        .c-sidebar-nav-title{
            font-size: 1.1rem;
        }
        .c-sidebar-nav-item{
            position: relative;
            padding: 0 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 34px;
            label {
                min-height: 34px;
                margin-bottom: 0;
                font-weight: normal;
                span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover{
                    &:after {
                        content: "";
                        background-color: $fifth-color;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0.46em;
                    margin: 4px;
                    width: 15px;
                    height: 15px;
                    transition: transform 0.28s ease;
                    border-radius: 0px;
                    border: 1px solid white;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 9px;
                    height: 9px;
                    color: white;
                    position: absolute;
                    top: 14px;
                    right: 7px;
                }
            }
            input[type="checkbox"] {
                width: auto;
                opacity: 0.00000001;
                position: absolute;
                left: 0;
                margin-left: -20px;
                &:checked ~ label{
                    &:before {
                        border: 2px solid white;
                    }
                    &:after {
                        background-color: $fifth-color;
                    }
                }
                &:focus + label::before {
                    outline: 0;
                }
            }
            .dot{
                font-size: 2em;
            }
        }
    }
    .divider{
        height: 1px;
        width: 100%;
        background-color: rgba($second-color, .5);
        margin: 20px 0;
    }
}

.main-header{
    background-color: $primary-color;
    border-bottom: none;
    padding: 10px 0;
    .login{
        background-color: $fifth-color;
        color: white !important;
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: 700;
        height: calc(2.18em + 0.75rem + 2px) !important;
        &:hover{
            background:$six-color !important;
        }
        &:active{
            background: white !important;
            color: $fifth-color !important;
        }
    }

    .become-contributor{
        padding: 10px 20px;
        border-radius: 30px;
        height: calc(2.18em + 0.75rem + 2px) !important;
        color: $fourth-color !important;
        border: 2px solid $fourth-color;
        font-weight: 700;
        &:hover{
            padding: 10px 20px;
            border-radius: 30px;
            color: white !important;
            border: 2px solid white;
        }
        &:active{
            padding: 10px 20px;
            border-radius: 30px;
            color: white;
            border: 2px solid  $fifth-color !important;
            background-color: $fifth-color;
        }
    }

    .header-form-search{
        @include media-breakpoint-up(md){
            width: 280px;
        }

        .form-group{
            width: 19rem;
            transform: translateX(-22px);
            input.form-control {
                border-radius: 30px;
                background-color: $primary-color;
                color: white;
                border: 2px solid $fourth-color ;
                height: calc(2.18em + 0.75rem + 2px) !important;
                caret-color: $fifth-color;
                &::placeholder{
                    color: $fourth-color;
                }
                &:hover{
                    border: 2px solid white !important;
                }
                &:active{
                    border: 2px solid white !important;
                }
            }
            .divider-vertical{
                border-left: 2px solid $fourth-color;
                transform: translate(-43px, 10px);
                height: 25px;
                &:hover{
                    border-left: 2px solid $fourth-color;
                }
            }
            svg{
                transform: translate(-35px, 14px);
                color: $fourth-color;
                &:hover{
                    color: white !important;
                }
            }
        }

    }
}

.c-header .c-header-nav .c-header-nav-link:not(.other-link), .c-header .c-header-nav .c-header-nav-btn:not(.other-link){
    color: $fourth-color;
    position: relative;
    font-weight: 700;
    &:after{
        content: '';
        background-color: $fourth-color;
        height: 3px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -10px;
        position: absolute;
    }
    &:hover{
        color: white;
        &:after{
            background-color: $white;
        }
    }
    &.active{
        color: $white;
        &:after{
            background-color: $fifth-color;
        }
    }
}

.c-header .c-header-nav .c-header-nav-link:not(.other-link):focus, .c-header .c-header-nav .c-header-nav-btn:not(.other-link):focus{
    color: white;
}
