.c-primary{
    color: $primary-color !important;
}
.bg-primary{
    background-color: $primary-color !important;
}

.c-second{
    color: $second-color !important;
}
.bg-second{
    background-color: $second-color !important;
}

.c-third{
    color: $third-color !important;
}
.bg-third{
    background-color: $third-color !important;
}

.c-fourth{
    color: $fourth-color !important;
}
.bg-fourth{
    background-color: $fourth-color !important;
}

.c-fifth{
    color: $fifth-color !important;
}
.bg-fifth{
    background-color: $fifth-color !important;
}

.bg-black{
    background: black !important;
}

.border-danger{
    border: 2px solid $fifth-color !important;
}

.border-white{
    border: 2px solid #ffffff !important;
}

.svg-fourth{
    fill: $fourth-color;
}
.social-login{
    .google{
        svg{
            width: 1.5rem !important;
            margin-right: 0.5rem !important;
            path{
                fill: $third-color !important;
            }
        }
        &:hover{
            svg{
                path{
                    fill: white !important;
                }
            }
        }
        a{
            font-weight: bold;
            border-radius: 20px;
            .bg-white{
                color: #FF3C03 !important;
                opacity: 1 !important;
                &:hover{
                    opacity: 0.8 !important;
                    svg{
                        width: 1rem !important;
                        path{
                            fill: #FF3C03 !important;
                        }
                    }
                }
                &:active{
                    background: #FF3C03 !important;
                    color: white !important;
                    svg{
                        width: 1rem !important;
                        path{
                            fill: $third-color !important;
                        }
                    }
                }
            }
        }
    }

    .facebook{
        svg{
            width: 0.8rem !important;
            margin-right: 0.5rem !important;
            path{
                fill: $third-color !important;
            }
        }
        &:hover{
            svg{
                path{
                    fill: white !important;
                }
            }
        }
        a.bg-facebook{
            background: #0055FF !important;
            opacity: 1 !important;
            &:hover{
                opacity: 0.8 !important;
                svg.svg-social-icon{
                    width: 2.8rem !important;
                    path{
                        fill: #0055FF !important;
                    }
                }
            }
        }
    }
    .twitter{
        &:hover{
            svg{
                path{
                    fill: white !important;
                }
            }
        }
        svg{
            width: 1.25rem !important;
            margin-right: 0.5rem !important;
            path{
                fill: $third-color !important;
            }
        }
        a.bg-twitter{
            background: #00AAFF !important;
            opacity: 1 !important;
            &:hover{
                opacity: 0.8 !important;
            }
        }
    }
}
.select{
    select.select-form{
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-radius: 30px;
        background: $primary-color;
        color: white;
        border: 0.10rem solid white;
        padding:2px 10px 2px 10px;
        &:hover{
            background-color: $primary-color;
            color: white;
        }
    }
}

.modal{
    .modal-dialog{
        .modal-content{
            border: 0;
            background-color: $primary-color;
            .modal-header{
                padding: 10px 10px 0 0;
                button{
                    &:focus{
                        outline:0;
                    }
                    span{
                        color: white;
                    }
                }
            }
            .modal-body{
                padding: 1rem 3rem;
            }
        }
    }
    .modal-border-white{
        -webkit-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    }
    .modal-border-red{
        box-shadow: 0px 0px 25px -10px $third-color;
    }
    input, textarea{
        border-radius: 30px;
        background-color: $third-color;
        color: white;
        border: 0;
        &::placeholder{
            color: $fourth-color;
        }
        &:focus{
            background-color: $third-color;
            color: white;
            border: 0;
        }
    }
}
.modal-backdrop{
    background-color: $primary-color;
    opacity: 0.5 !important;
}

textarea{
    resize: none;
}

.icon{
    width: 2rem !important;
}

.no-underline{
    text-decoration: none;
    &:hover{
        text-decoration: none !important;
    }
}

.list-style-none{
    list-style: none;
}

.cursor-pointer{
    cursor: pointer;
}

.notification{
    background: $primary-color;
    border-left: 3px solid $fifth-color;
    -webkit-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
}
.dropdown-menu{
    border: 0px !important;
    -webkit-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75) !important;
    margin-right: 1.6rem !important;
    margin-left: 0.8rem !important;
    .dropdown-item, a.dropdown-item{
        padding: 0.28rem !important;
        color: $fourth-color !important;
        &:hover{
            color: white !important;
            background-color: $primary-color !important;
        }
        &:active{
            color: white !important;
            background-color: $primary-color !important;
        }
    }
    .dropdown-divider{
        border-top: 1px solid  $third-color !important;
    }
}

.fa-ellipsis-h{
    &:hover{
        color: white !important;
    }
}

.table-menu{
    td{
        cursor: pointer;
        vertical-align: middle;
    }
}
.share-circle{
    &:hover{
        background: $fourth-color !important;
    }
}

.font-weight-bold{
    font-weight: 900 !important;
}

.follow-active{
    background: $fifth-color;
    border: 2px solid $fifth-color;
    display: flex;
    align-items: center;
    color: white;
    svg{
        width: 1rem;
        margin-left: 0.3rem !important;
        path{
            fill: white;
        }
        polygon{
            fill: white;
            stroke: white;
            stroke-width: 20px;
        }
    }
    &:hover{
        background-color: $six-color;
        border: 2px solid $six-color;
    }
}
.follow-idle{
    background: $primary-color;
    border: 2px solid white;
    color: white;
    svg{
        width: 1em;
        margin-left: 0.3rem;
        path{
            fill: white;
        }
    }
    &:hover{
        background-color: white;
        color: black;
        svg{
            path{
                fill: $primary-color;
                stroke: $primary-color;
            }
            polygon{
                fill: $primary-color;
                stroke: $primary-color;
                stroke-width: 20px;
            }
        }
    }
}

.swal-alert,{
    background: $primary-color !important;
    min-width: 32rem !important;
    max-width: 32rem !important;
    @include media-breakpoint-down(sm){
        min-width: 20rem !important;
        max-width: 20rem !important;
    }
    .swal-title{
        color: white !important;
        font-weight: 700!important;
        font-size: 16px !important;
    }
    .swal-text{
        color: white !important;
        font-size: 16px !important;
        text-align: center !important;
    }
    .swal-button--cancel{
        font-weight: 700!important;
        background: $primary-color!important;
        border-radius: 30px !important;
        color: white!important;
        border: 0 !important;
    }
    .swal-button--confirm{
        font-weight: 900 !important;
        border-radius: 30px !important;
        background: $fifth-color;
    }
}

.table-relathions{
    td{
        vertical-align: middle;
    }
}

.img-docs{
    min-height: 13rem;
    max-height: 13rem;
    margin-left: 0.45rem;
    @include media-breakpoint-down(sm){
        min-height: 8.89rem;
        max-height: 8.89rem;
        margin-left: 0.45rem;
    }
}

.line{
    border-top: 2px solid $fourth-color ;
    width: 5rem ;
    &:hover{
        border-top: 2px solid white ;
        width: 5rem ;
    }
    &:active{
        border-top: 2px solid white ;
        width: 5rem ;
    }
}
svg.share{
    path{
        fill: $third-color;
        &:hover{
            fill: white;
        }
        &:active{
            fill: white;
        }
    }
}
.cropper{
    max-width: 50rem !important;
    min-width: 50rem !important;
    max-height: 25rem !important;
    min-height: 25rem !important;
    background: #141414 !important;
    @include media-breakpoint-down(sm){
        max-width: 25rem !important;
        min-width: 25rem !important;
        max-height: 25rem !important;
        min-height: 25rem !important;
    }
}

.navigation-header{
    display: flex;
    justify-content: flex-start;
    @include media-breakpoint-down(sm){
        justify-content: center;
    }
}

.container{
    @include media-breakpoint-down(sm){
        padding-right: 0;
        padding-left: 0;
    }
}
