.c-primary{
    color: $primary-color !important;
}
.bg-primary{
    background-color: $primary-color !important;
}

.c-second{
    color: $second-color !important;
}
.bg-second{
    background-color: $second-color !important;
}

.c-third{
    color: $third-color !important;
}
.bg-third{
    background-color: $third-color !important;
}

.c-fourth{
    color: $fourth-color !important;
}
.bg-fourth{
    background-color: $fourth-color !important;
}

.c-fifth{
    color: $fifth-color !important;
}
.bg-fifth{
    background-color: $fifth-color !important;
}

.bg-black{
    background: black !important;
}

.border-danger{
    border: 2px solid $fifth-color !important;
}

.border-white{
    border: 2px solid #ffffff !important;
}

.svg-fourth{
    fill: $fourth-color;
}
.social-login{
    a{
        font-weight: bold;
        border-radius: 20px;
        &.bg-white{
            color: #FF3C03 !important;
            opacity: 1 !important;
            &:hover{
                opacity: 0.8 !important;
            }
            &:active{
                background: #FF3C03 !important;
                color: white !important;
            }
        }
    }
    a.bg-facebook{
        background: #0055FF !important;
        opacity: 1 !important;
        &:hover{
            opacity: 0.8 !important;
        }
    }
    a.bg-twitter{
        background: #00AAFF !important;
        opacity: 1 !important;
        &:hover{
            opacity: 0.8 !important;
        }
    }
}
.select{
    select.select-form{
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-radius: 30px;
        background: black;
        color: white;
        border: 0.10rem solid white;
        padding:2px 10px 2px 10px;
        &:hover{
            background-color: $third-color;
            color: white;
        }
    }
}

.modal{
    .modal-dialog{
        .modal-content{
            border: 0;
            background-color: $primary-color;
            .modal-header{
                padding: 10px 10px 0 0;
                button{
                    &:focus{
                        outline:0;
                    }
                    span{
                        color: white;
                    }
                }
            }
            .modal-body{
                padding: 1rem 3rem;
            }
        }
    }
    .modal-border-white{
        -webkit-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    }
    .modal-border-red{
        box-shadow: 0px 0px 25px -10px $third-color;
    }
    input, textarea{
        border-radius: 30px;
        background-color: $third-color;
        color: white;
        border: 0;
        &::placeholder{
            color: $fourth-color;
        }
        &:focus{
            background-color: $third-color;
            color: white;
            border: 0;
        }
    }
}
.modal-backdrop{
    background-color: $primary-color;
    opacity: 0.5 !important;
}

textarea{
    resize: none;
}

.icon{
    height: 20px !important;
    width: 25px !important;
}

.no-underline{
    text-decoration: none;
    &:hover{
        text-decoration: none !important;
    }
}

.list-style-none{
    list-style: none;
}

.cursor-pointer{
    cursor: pointer;
}

.notification{
    background: $primary-color;
    border-left: 3px solid $fifth-color;
    -webkit-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
}
.dropdown-menu{
    border: 0px;
    -webkit-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 7.5px 15px 5px rgba(0,0,0,0.75);
    margin-right: 1.6rem;
    margin-left: 0.8rem;
    .dropdown-item{
        padding: 0.28rem;
        color: $fourth-color !important;
        &:hover{
            color: white !important;
            background-color: $primary-color !important;
        }
        &:active{
            color: white !important;
            background-color: $primary-color !important;
        }
    }
    .dropdown-divider{
        border-top: 1px solid  $third-color;
    }
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.fa-ellipsis-h{
    &:hover{
        color: white !important;
    }
}

.post-footer{
    .information{
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(md){
            &:not(:first-child){
                margin-left: 20px;
            }
        }
        img{
            width: 1.5rem;
            margin-right: 5px;
        }
    }
}
.comments{
    margin-top: 3px;
    input.input-comment{
        border-radius: 30px !important;
        border: 1px solid $third-color;
        caret-color: $fifth-color;
        &::placeholder{
            color: $fourth-color;
        }
        &:hover{
            border: 1px solid white;
        }
        &:focus{
            border: 1px solid $third-color;
        }
    }
    .comment{
        .comment-user-image{
            width: 2.64rem;
            transform: translateY(-11px);
            max-width: 2.64rem;
            min-height: 2.64rem;
            max-height: 2.64rem;
        }
        .icon{
            width: 1rem;
        }
    }
}