// Body
$body-bg: black;
$body-color: rgb(0, 0, 0, 0);

// Typography
$font-family-sans-serif: 'Encode Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #141414;
$secundary-color: #535353;
$tertiary-color: #ff0000;

$theme-colors: (
    "primary": $primary-color,
    "danger": $tertiary-color
);

$coreui-icons-font-path: "../../fonts";
$fa-font-path: "../webfonts";
