// Body
$body-bg: black;
$body-color: rgb(0, 0, 0, 0);

// Typography
$font-family-sans-serif: 'Encode Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #141414;
$second-color: #181818;
$third-color: #262626;
$fourth-color: #535353;
$fifth-color: #FF0000;
$six-color: #FC4444;

$theme-colors: (
    "primary": $primary-color,
    "danger": $fifth-color
);

$coreui-icons-font-path: "../../fonts";
$fa-font-path: "../webfonts";

@mixin icons-style($color){
    .icon-post-color{
        fill: $fourth-color;
    }
    &:hover{
        .icon-post-color{
            fill: $color;
        }
    }
}
