.profile{
    margin-top: -2rem;
    hr{
        border-top: 1px solid $fourth-color;
    }
    .img-container{
        position: relative;
        display: flex;
        align-items: center;
        .edit-cover-photo{
            z-index: 9;
            border: 2px solid white;
            position: absolute;
            box-shadow: 2px 2px 2px $third-color;
            right: -20px;
            top: 30px;
            font-size: 0.64rem;
            @include media-breakpoint-up(lg){
                font-size: 1rem;
            }
            @include media-breakpoint-down(md){
                padding: 0.3rem 0.5rem 0.3rem 0.5rem;
            }
            label{
                text-shadow: 2px 2px 2px $third-color;
            }
            svg{
                width: 0.8rem;
                margin-left: 0.3rem;
                path{
                    fill: white;
                }
            }
            &:hover{
                background: white;
                color: black !important;
                box-shadow: none !important;
                label{
                    text-shadow:none !important;
                }
                i{
                    color: black;
                }
                svg{
                    path{
                        fill: black;
                    }
                }
            }
            &:active{
                border: blanchedalmond !important;
                background: blanchedalmond !important;
                color: white !important;
                box-shadow: none;
                label{
                    text-shadow: none !important;
                }
                i{
                    color: white;
                }
                svg{
                    path{
                        fill: black;
                    }
                }
            }
        }
        .edit-profile-button{
            z-index: 9;
            border: 2px solid white;
            position: absolute;
            text-shadow: 2px 2px 2px $third-color;
            box-shadow: 2px 2px 2px $third-color;
            right: 4px;
            top: 30px;
            font-size: 0.64rem;
            padding: 0.2rem 1rem 0.2rem 1rem;
            @include media-breakpoint-up(lg){
                font-size: 1rem;
            }
            svg{
                width: 0.8rem;
                margin-left: 0.3rem;
                path{
                    fill: white;
                }
            }

        }
        .follow-movile-button{
            z-index: 1;
            position: absolute;
            right: 6px;
            top: 30px;
        }
        .img-profile{
            position: absolute;
            transform: translateY(-1.55rem);
            bottom: -3.6rem;
            left: 0.39rem;
            min-height: 4.2rem;
            max-width: 4.2rem;
            max-height: 4.2rem;
            min-width: 4.2rem;
            @include media-breakpoint-up(lg){
                bottom: -7.2rem;
                left: 1rem;
                min-width: 8rem;
                max-width: 8rem;
                min-height: 8rem;
                max-height: 8rem;
            }
            @include media-breakpoint-only(md){
                bottom: -4.6rem;
                left: 1rem;
                min-width: 6rem;
                max-width: 6rem;
                min-height: 6rem;
                max-height: 6rem;
            }
        }
        .img-portada{
            width: 100%;
            min-height: 10rem;
            margin-top: 0.8rem;
            img{
                max-width: 1450px;
                min-width: 1450px;
            }
            @include media-breakpoint-up(lg){
                max-height: 15rem;
                margin-top: 0.8rem ;
                img{
                    min-width: 1450px;
                    max-width: 1450px;
                }
            }
            @include media-breakpoint-down(sm){
                max-height: 10rem;
                margin-top: 0.8rem;
            }
        }
    }
    .head-container{
        padding: 0 0 0 1em;
        @include media-breakpoint-up(md){
            margin-top: 2rem;
        }
        @include media-breakpoint-up(lg){
            display: flex;
            justify-content: space-between;
            margin-left: 9rem;
            margin-top: 0;
        }
        a.active{
            border-color: white !important;
            background-color: white !important;
            color: black !important;
        }
        .functions{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include media-breakpoint-down(sm){
                justify-content: flex-end;
                font-size: 0.6rem;
            }

            a.function{
                background: transparent;
                border: 2px solid white;
                color: white;
                @include media-breakpoint-down(sm){
                    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
                    font-size: 0.7rem;
                }
                svg{
                    width: 0.89rem;
                    margin-left: 0.3rem;
                    path{
                        fill: white;
                    }
                }
                svg.share-icon{
                    width: 0.78rem;
                    @include media-breakpoint-up(lg){
                        width: 1rem;
                    }
                    path{
                        fill: white;
                    }

                }
                &:hover{
                    border: 2px solid white;
                    background: white;
                    color: black;
                    svg{
                        path{
                            fill: black;
                        }
                    }
                }
                &:active{
                    opacity: 0.5;
                }

            }
            button.function-contributor{
                font-size: 0.64rem;
                margin: 0 0.1rem 0 0.1rem;
                background: transparent;
                color: white;
                border: 2px solid $fifth-color;
                svg{
                    width: 0.6rem ;
                    margin-left: 0.1rem;
                }
                @include media-breakpoint-up(lg){
                    font-size: 0.8rem;
                    border: 1px solid $fifth-color;
                    svg{
                        width: 1em;
                        margin-left: 0.3rem;
                        margin-bottom: 0.3rem;
                    }
                }
            }
        }
        .check-icon{
            width: 1.2rem;
        }
    }
    .content-primary{
        position: absolute;
        transform: translate(5.38rem, 3rem);
        @include media-breakpoint-only(md){
            transform: translate(7.4rem, 5.4rem);
        }
        h3{
            font-size: 0.9rem !important;
            text-shadow: 3px 2px 3px $third-color;
        }
        span{
            font-size: 0.69rem;
            height: auto;
            padding: 0.2rem;
            img{
                width: 0.69rem !important;
            }
        }
        span{
            padding: 0.2rem;
            font-size: 0.79rem;
        }
    }
    .content-personal-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem;
        @include media-breakpoint-up(md){
            flex-direction: row;
            justify-content: start;
        }
        .account-settings{
            @include media-breakpoint-up(md){
              margin-left: 25vw;
            }
        }
        .title-details{
            svg{
                width: 1.5rem;
                path{
                    fill: white !important;
                }
            }
            &:hover{
                svg{
                    path{
                        fill: $fifth-color !important;
                    }
                }
            }
        }
        .settings{
            border: 2px solid white !important;
            padding: 0.1rem 10px 0.1rem 10px;
            display: flex;
            align-items: baseline;
            &:hover{
                border: 2px solid white !important;
                background-color: #ffffff !important;
                color: black !important;
                .fas.fa-cog{
                    color: black;
                }
            }
            &:active{
                opacity: 50%;
            }
        }
    }
    .navigation-header{
        a{
            text-decoration: none;
            position: relative;
            padding-bottom: 5px;
            &:before{
                content: '';
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $fourth-color;
                position: absolute;
            }
        }
        a.active{
            &:before{
                background-color: $fifth-color;
            }
        }
    }
    .navigation-body{
        position: relative;
        margin-bottom: 2rem;
        padding: 0 15px;
        font-size: 1.2rem;
        &:before{
            content: '';
            top: -5px;
            height: 3px;
            width: 100%;
            background-color: $second-color;
            position: absolute;
            left: 0;
        }
        a{
            text-decoration: none;
            &:hover{
                color: $fifth-color !important;
            }
            &:active{
                color: $fifth-color !important;
                &:before{
                    content: '';
                    top: -8px;
                    height: 3px;
                    width: 5%;
                    background-color: $fifth-color;
                    position: absolute;
                }
            }
        }
        a.active{
            position: relative;
            &:before{
                content: '';
                top: -8px;
                height: 3px;
                width: 100%;
                background-color: $fifth-color;
                position: absolute;
            }
        }
    }
    .channel{
        .activities{
            .activity{
                margin-bottom: 1rem;
                .img-activity{
                    max-width: 180px !important;
                    min-width: 100% !important;
                    max-height: 180px !important;
                    min-height: 180px !important;
                }
                .information{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:not(:first-child){
                        margin-left: 20px;
                    }
                    img{
                        width: 1.5rem;
                        margin-right: 5px;
                    }
                }
                .menu-activity{
                    transform: translate(20rem, -11rem);
                }
            }
        }
    }
    .edit-profile, .edit-channel, .account-settings, .post, .comments , .modal-playlist{
        input.form-control, select.form-control, textarea.form-control{
            border-radius: 30px !important;
            background-color: $third-color !important;
            color: white;
            border: 0;
            margin-bottom: 0.5rem;
            caret-color: $fifth-color;
            &::placeholder{
                color: $fourth-color;
            }
            &:focus{
                background-color: $third-color;
                color: white;
                border: 0;
            }
        }
        .accordion{
            .card{
                border: 0;
                border-radius: 0;
                position: relative;
                &:after{
                    content: '';
                    height: 1px;
                    position: absolute;
                    background-color: $fourth-color;
                    bottom: 0;
                    width: 100%;
                }
                .card-header{
                    padding-left: 0;
                    border-radius: 0 !important;
                    border: 0;
                    button.btn{
                        padding-left: 0;
                        @include media-breakpoint-up(md){
                            font-size: 1.2rem;
                        }
                    }
                    i.fas{
                        cursor: pointer;
                    }
                }
                #releases{
                    img{
                        min-height: 164px;
                        max-height: 164px;
                    }
                }
                .members{
                    font-size: 0.7rem;
                }
                .profile-type{
                    position: relative;
                    padding: 0 18px;
                    display: flex;
                    align-items: center;
                    label {
                        min-height: 34px;
                        margin-bottom: 0;
                        span {
                            font-weight: 700;
                            position: absolute;
                            transform: translateX(30px);
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            margin: 4px;
                            width: 15px;
                            height: 15px;
                            transition: transform 0.28s ease;
                            border-radius: 0;
                            border: 1px solid white;

                        }
                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            margin: 4px;
                            width: 15px;
                            height: 15px;
                            border: 1px solid white;
                            color: $fifth-color;
                        }
                    }
                    input[type="radio"] {
                        width: auto;
                        opacity: 0.00000001;
                        position: absolute;
                        margin-left: -20px;
                        &:checked ~ label{
                            &:before {
                                border: 2px solid white;
                            }
                            &:after {
                                transform: rotate(180deg) scale(1);
                                background-color: $fifth-color;
                            }
                        }
                        &:focus + label::before {
                            outline: 0;
                        }
                    }

                }
            }
            .icon-work-with{
                img, span{
                    transform: translate(4.5rem, -2.4rem);
                }
            }
            .work-with{
                max-width: 12rem !important;
                background: black !important;
                border-radius: 30px !important;
                border: 2px solid white !important;
            }
            .text-work{
                background: $primary-color;
                &:hover{
                    background: $third-color;
                }
            }
        }
        .modal-select{
            @include media-breakpoint-down(md){
                .modal-body{
                    padding: 1rem !important;
                }
                h2{
                    font-size: 1.2rem !important;
                }
            }
            .line-shark{
                max-width: 44rem;
                padding-bottom: 1rem;
                @include media-breakpoint-down(md){
                    max-width: 17rem;
                    height: 2rem !important;
                }
            }
            .checkbox{
                position: relative;
                //padding: 0 18px;
                display: flex;
                align-items: center;
                label {
                    min-height: 34px;
                    margin-bottom: 0;
                    font-weight: normal;
                    span {
                        position: absolute;
                        transform: translateX(30px);
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        margin: 4px;
                        width: 15px;
                        height: 15px;
                        transition: transform 0.28s ease;
                        border-radius: 0;
                        border: 1px solid white;

                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        margin: 4px;
                        width: 15px;
                        height: 15px;
                        border: 1px solid white;
                        color: $fifth-color;
                    }
                }
                input[type="checkbox"] {
                    width: auto;
                    opacity: 0.00000001;
                    position: absolute;
                    margin-left: -20px;
                    &:checked ~ label{
                        &:before {
                            border: 2px solid white;
                        }
                        &:after {
                            transform: rotate(180deg) scale(1);
                            background-color: $fifth-color;
                        }
                    }
                    &:focus + label::before {
                        outline: 0;
                    }
                }
            }
            .divider{
                border-top: 1px solid $third-color;
            }
        }
        .modal-select::-webkit-scrollbar{
            width: 8px ;
        }
        .modal-select::-webkit-scrollbar-thumb {
            background: $fourth-color;
            border-radius: 4px;
        }
        .modal-select::-webkit-scrollbar-thumb:hover {
            background: $fourth-color;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        .modal-select::-webkit-scrollbar-thumb:active {
            background-color: $fourth-color;
        }
        .form-search{
            @include media-breakpoint-up(md){
                width: 280px;
            }
            .form-group{
                input.form-control{
                    border-radius: 30px 0 0 30px;
                    background-color: $primary-color;
                    color: white;
                    border: 1px solid $fourth-color;
                    caret-color: $fifth-color;
                    &::placeholder{
                        color: $fourth-color;
                    }
                }
            }
            .input-group-append{
                .input-group-text{
                    border-radius: 0px 30px 30px 0px;
                    background-color: $primary-color;
                    border-color: $fourth-color;
                    height: 2.3rem;
                    i{
                        color: $fourth-color;
                    }
                }
            }
        }
    }
    .account-settings{
        .card-header, .card-body{
            .icon, img.icon{
                width: 2rem;
                margin-right: 1rem;
            }
        }
        .btn-social-media{
            @include media-breakpoint-up(md){
                width: 35%;
            }
            @include media-breakpoint-down(sm){
                width: 100% !important;
            }
            &.bg-white{
                &:hover{
                    color: $fifth-color;
                }
            }
        }
        button{
            text-decoration: none;
        }
        button.action{
            svg{
                path{
                    fill: white;
                }
            }
            &:hover{
                background: white;
                color: black !important;
                svg{
                    width: 1rem;
                    path{
                        fill: black !important;
                    }
                }
            }
            &:active{
                opacity: 0.5;
            }
        }
    }
    .modal-picture-profile{
        .modal-body{
            img.preview{
                width: 25rem;
            }
        }
    }
}
.relathions-ship{
    .active{
        color: $fifth-color !important;
        border-bottom: 2px solid $fifth-color !important;
    }
    .form-search{
        .input-group{
            input{
                min-width: 30rem !important;
                @include media-breakpoint-down(md){
                    min-width: 12rem !important;
                }
            }
            .form-control{
                background-color: black !important;
                color: white !important;
                caret-color: $fifth-color !important;
                border-radius: 30px !important;
                border: 1px solid $fourth-color !important;
            }
            .icons-search{
                transform: translateX(-3rem);
                @include media-breakpoint-down(md){
                    transform: translate(10rem, -2.4rem);
                }
            }
        }
        .divider-vertical{
            border-left: 2px solid $fourth-color !important;
            height: 1.5rem !important;
        }
    }
    .nav{
        border-bottom: 0.1rem solid $third-color !important;
    }
    .follow-following-idle{
        background: transparent ;
        border: 2px solid white ;
        color: white ;
        &:before{
            content: 'Follow';
        }
        svg{
            margin: 0.3rem 0 0.3rem 0.3rem ;
            width: 0.68rem;
            path{
                fill: transparent;
                stroke: white;
                stroke-width: 4.5em;
            }
        }
        &:hover{
            background: white;
            color: black;
            &:before{
                content: 'Follow';
            }
            svg{
                path{
                    fill: black;
                }
            }
        }
    }
    .follow-following-active{
        background: white;
        border: 2px solid white;
        color: black;
        &:before{
            content: 'Following';
        }
        svg{
            margin: 0.3rem 0 0.3rem 0.3rem ;
            width: 0.68rem ;
            path{
                fill: black ;
            }
        }
        &:hover{
            &:before{
                content: 'unfollow';
            }
            svg{
                path{
                    fill: black;
                }
            }
        }
    }
}
.modal-backdrop{
    z-index: 1010 !important;
    opacity: 8%;
}
.modal-personal{
    .checkbox{
        label {
            min-height: 34px;
            margin-bottom: 0;
            font-weight: normal;
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover{
                &:after {
                    content: "";
                    background-color: $fifth-color;
                }
            }
            &:before {
                content: "";
                position: absolute;
                right: 9rem;
                top: 0.55rem;
                margin: 4px;
                width: 15px;
                height: 15px;
                transition: transform 0.28s ease;
                border-radius: 0px;
                border: 1px solid white;
            }
            &:after {
                content: "";
                display: block;
                width: 9px;
                height: 9px;
                color: white;
                position: absolute;
                right: 9.45rem;
                top: 0.94rem;
            }
        }
        input[type="radio"] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
            &:checked ~ label{
                &:before {
                    border: 2px solid white;
                }
                &:after {
                    background-color: $fifth-color;
                }
            }
            &:focus + label::before {
                outline: 0;
            }
        }
        .dot{
            font-size: 2em;
        }
    }
    .divider{
        border-top: 1px solid $third-color;
    }
}

