
.zoom1{
    zoom: 1%;
}
.zoom2{
    zoom: 2%;
}
.zoom3{
    zoom: 3%;
}
.zoom4{
    zoom: 4%;
}
.zoom5{
    zoom: 5%;
}
.zoom6{
    zoom: 6%;
}
.zoom7{
    zoom: 7%;
}
.zoom8{
    zoom: 8%;
}
.zoom9{
    zoom: 9%;
}
.zoom10{
    zoom: 10%;
}
.zoom11{
    zoom: 11%;
}
.zoom12{
    zoom: 12%;
}
.zoom13{
    zoom: 13%;
}
.zoom14{
    zoom: 14%;
}
.zoom15{
    zoom: 15%;
}
.zoom16{
    zoom: 16%;
}
.zoom17{
    zoom: 17%;
}
.zoom18{
    zoom: 18%;
}
.zoom19{
    zoom: 19%;
}
.zoom20{
    zoom: 20%;
}
.zoom21{
    zoom: 21%;
}
.zoom22{
    zoom: 22%;
}
.zoom23{
    zoom: 23%;
}
.zoom24{
    zoom: 24%;
}
.zoom25{
    zoom: 25%;
}
.zoom26{
    zoom: 26%;
}
.zoom27{
    zoom: 27%;
}
.zoom28{
    zoom: 28%;
}
.zoom29{
    zoom: 29%;
}
.zoom30{
    zoom: 30%;
}
.zoom31{
    zoom: 31%;
}
.zoom32{
    zoom: 32%;
}
.zoom33{
    zoom: 33%;
}
.zoom34{
    zoom: 34%;
}
.zoom35{
    zoom: 35%;
}
.zoom36{
    zoom: 36%;
}
.zoom37{
    zoom: 37%;
}
.zoom38{
    zoom: 38%;
}
.zoom39{
    zoom: 39%;
}
.zoom40{
    zoom: 40%;
}
.zoom41{
    zoom: 41%;
}
.zoom42{
    zoom: 42%;
}
.zoom43{
    zoom: 43%;
}
.zoom44{
    zoom: 44%;
}
.zoom45{
    zoom: 45%;
}
.zoom46{
    zoom: 46%;
}
.zoom47{
    zoom: 47%;
}
.zoom48{
    zoom: 48%;
}
.zoom49{
    zoom: 49%;
}
.zoom50{
    zoom: 50%;
}
.zoom51{
    zoom: 51%;
}
.zoom52{
    zoom: 52%;
}
.zoom53{
    zoom: 53%;
}
.zoom54{
    zoom: 54%;
}
.zoom55{
    zoom: 55%;
}
.zoom56{
    zoom: 56%;
}
.zoom57{
    zoom: 57%;
}
.zoom58{
    zoom: 58%;
}
.zoom59{
    zoom: 59%;
}
.zoom60{
    zoom: 60%;
}
.zoom61{
    zoom: 61%;
}
.zoom62{
    zoom: 62%;
}
.zoom63{
    zoom: 63%;
}
.zoom64{
    zoom: 64%;
}
.zoom65{
    zoom: 65%;
}
.zoom66{
    zoom: 66%;
}
.zoom67{
    zoom: 67%;
}
.zoom68{
    zoom: 68%;
}
.zoom69{
    zoom: 69%;
}
.zoom70{
    zoom: 70%;
}
.zoom71{
    zoom: 71%;
}
.zoom72{
    zoom: 72%;
}
.zoom73{
    zoom: 73%;
}
.zoom74{
    zoom: 74%;
}
.zoom75{
    zoom: 75%;
}
.zoom76{
    zoom: 76%;
}
.zoom77{
    zoom: 77%;
}
.zoom78{
    zoom: 78%;
}
.zoom79{
    zoom: 79%;
}
.zoom80{
    zoom: 80%;
}
.zoom81{
    zoom: 81%;
}
.zoom82{
    zoom: 82%;
}
.zoom83{
    zoom: 83%;
}
.zoom84{
    zoom: 84%;
}
.zoom85{
    zoom: 85%;
}
.zoom86{
    zoom: 86%;
}
.zoom87{
    zoom: 87%;
}
.zoom88{
    zoom: 88%;
}
.zoom89{
    zoom: 89%;
}
.zoom90{
    zoom: 90%;
}
.zoom91{
    zoom: 91%;
}
.zoom92{
    zoom: 92%;
}
.zoom93{
    zoom: 93%;
}
.zoom94{
    zoom: 94%;
}
.zoom95{
    zoom: 95%;
}
.zoom96{
    zoom: 96%;
}
.zoom97{
    zoom:97%;
}
.zoom98{
    zoom: 98%;
}
.zoom99{
    zoom: 99%;
}
.zoom100{
    zoom: 100%;
}
